:root {
  --primary-color: #d2ebcd;
  --secondary-color: #fffcef;
  --black-variation: #393939;
}

.homepage-content {
  background: var(--secondary-color);
}
.header {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  color: var(--black-variation);
  background: var(--primary-color);
  font-family: "Lato", sans-serif;
}

.header h2 {
  font-size: 40px;
  line-height: 1.5;
}
.header h1 {
  font-size: 50px;
  font-weight: bold;
}
.faded-color {
  opacity: 0.9;
}

.btn-branding {
  border-radius: 4px;
  background: var(--secondary-color);
  font-size: 25px;
  color: var(--black-variation);
  border: 1px solid var(--black-variation);
}

.btn-branding:hover {
  opacity: 0.8;
}
.text-center {
  text-align: center;
}

p {
  line-height: 1.7;
  font-size: 25px;
}

h2 {
  font-family: "Lato", sans-serif;
}

.btn-branding-projects {
  border-radius: 4px;
  color: var(--black-variation);
  background: var(--primary-color);
  font-size: 25px;
  border: 1px solid var(--black-variation);
}
.btn:hover {
  opacity: 0.8;
}
.primary-color {
  background-color: var(--primary-color);
}
.general-content {
  padding: 160px 20px;
  line-height: 2;
  background: var(--primary-color);
}
.about-section h1 {
  font-family: "Lato", sans-serif;
}
.about-image {
  border-radius: 5px;
}

@media (max-width: 900px) {
  .container {
    text-align: center;
  }
  .col-md-6 {
    margin-bottom: 30px;
  }
}
