body {
  background: #b64926;
}

.header {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff0a5;
}

.header h2 {
  font-size: 40px;
  line-height: 1.5;
}
.header h1 {
  font-size: 50px;
  font-weight: bold;
}
.faded-color {
  opacity: 0.9;
}
.lets-connect-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}
